@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  p {
    font-size: 0.9rem;
  }
  header img {
    width: 8vw;
    height: 8vw;
    padding: 4% 2%;
  }

  #headerLinks a {
    font-size: 1.08rem;
  }

  #name {
    width: 100%;
    height: calc(105vh - 16vw);
    margin-top: 16vw;
  }

  .intro {
    margin-left: 0;
    font-size: max(2.125rem, 5vw);
  }

  .intro u {
    font-size: max(calc(2.125rem * 0.8), calc(5vw * 0.8));
  }

  .intro-ja {
    margin: 0;
  }

  .intro-ja p {
    font-size: 1rem;
  }

  section .title {
    width: calc(100% - 3.75rem);
    margin-left: calc(1rem * 2);
  }

  #works article:nth-child(3n-1) {
    width: calc((100vw - (4vw * 1)) * 4 / 5);
    margin: 3.75rem auto;
  }

  #works article:nth-child(3n) {
    width: calc((100vw - (4vw * 1)) * 3 / 4);
    margin: 3.75rem auto 3.75rem calc(4.75rem / 5);
  }

  #works article:nth-child(3n + 1) {
    width: calc((100vw - (4vw * 1)) * 3 / 4);
    margin: 3.75rem calc(4.75rem / 5) 3.75rem auto;
  }

  #skillSet .hexagon {
    width: 6.25rem;
    height: 11rem;
    position: relative;
  }

  #skillSet .hexagon.color1 {
    margin: -0.1rem 10.1rem -0.1rem;
  }

  #skillSet .hexagon.color2,
  #skillSet .hexagon.color3{
    margin-left: 3.75rem;
  }

  footer img {
    width: 20vw;
  }
  footer ul.top {
    margin-left: -2rem;
  }
  footer ul.bottom li {
    margin: -2.5rem -2.5rem 0;
  }
  footer small {
    font-size: .8em;
  }
}
