@media screen and (max-width: 768px) {
  p {
    font-size: .9rem
  }
  header img{
    width: 8vw;
    height: 8vw;
    padding: 4% 2%
  }

  #headerLinks a {
    font-size: 1.08rem
  }

  .intro {
    margin-left: calc(1rem * 1);
    font-size: max(2.125rem, 5vw)
  }

  .intro u {
    font-size: max(calc(2.125rem * 0.8), calc(5vw * 0.8))
  }

  .intro-ja {
    margin: auto calc(1rem * 1)
  }

  .intro-ja p {
    font-size: 1rem
  }

  section .title {
    width: calc(100% - 3.75rem);
    margin-left: calc(1rem * 2)
  }

  #works article:nth-child(3n-1) {
    width: calc((100vw - (4vw * 1)) * 4 / 5);
    margin: 3.75rem auto
  }

  #works article:nth-child(3n) {
    width: calc((100vw - (4vw * 1)) * 3 / 4);
    margin: 3.75rem auto 3.75rem calc(4.75rem / 5)
  }

  #works article:nth-child(3n+1) {
    width: calc((100vw - (4vw * 1)) * 3 / 4);
    margin: 3.75rem calc(4.75rem / 5) 3.75rem auto
  }

  #skillSet aside {
    margin-left: calc(1rem * 3)
  }

  footer img {
    width: 20vw
  }
  footer ul.top {
    margin-left: -2rem
  }
  footer ul.bottom li {
    margin: -2.5rem -2.5rem 0;
  }
}
