@import url(style-mobile.css);
@import url(style-pc.css);
@font-face {
  font-family: "Schumpeter";
  src: url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
    format("woff2");
}

:root {
  --main-color: #cef7e0;
  --main-color-dark: #aed7c0;
  --sub-color: #2e5740;
  --sub-color-light: #7ec790;
  --accent-color: #2e5740;
}

* {
  color: #363636;
  font-family: "Schumpeter";
  list-style: none;
}

img {
  width: 100%;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

#Canvas {
  position: fixed;
  top: .1em;
  z-index: -1;
}

header {
  letter-spacing: 0.1em;
  text-align: center;
}

nav {
  z-index: 10;
}

article {
  margin: auto 8%;
  padding-bottom: 1rem;
  box-shadow: 0 0 5px rgb(246, 246, 246);
  background-color: rgb(245, 245, 245);
}

section {
  clear: both;
  margin-bottom: 10%;
  padding: 0 5%;
}

footer {
  background: var(--main-color-dark);
  color: white;
  bottom: 0;
  height: 5%;
}

footer ul {
  align-items: center;
  width: 100%;
  display: flex;
  height: 50px;
  justify-content: space-evenly;
}

footer p {
  text-align: center;
  padding: 1rem;
}

/* components */
.en {
  margin: 0 1rem 1rem;
  font-size: .6rem;
}
.title {
  padding-top: 4rem;
  font-size: 8vw;
  letter-spacing: 0.1em;
  text-align: center;
}

section h1 {
  width: 100%;
  border-bottom: solid 3px var(--main-color);
  color: var(--sub-color);
  text-align: left;
  letter-spacing: 0.2em;
}

#About .me {
  width: 100%;
  background-image: url(../img/me.webp);
  background-position: 33.3% 50%;
  background-color:rgba(46, 87, 64, .25);
  background-blend-mode:lighten;
}

#About .me * {
  padding-left: 6.7%;
  color: whitesmoke;
}

#About .me > * {
  padding-bottom: .7%;
}

.projects {
  float: left;
  padding: 5% 0 0 5%;
  text-align: center;
  margin-right: 5%;
}

#Contact .mail-box {
  background: var(--main-color);
  box-shadow: 10px 15px var(--sub-color);
  padding: 20px 0;
  text-align: center;
}
#Contact .mail-box .contents {
  background: var(--main-color-dark);
}
#Contact .mail-box .contents .message {
  background: var(--main-color);
  color: var(--sub-color);
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 4px;
}
#Contact .mail-box .contents p {
  padding: 1.5vw;
}
#Contact .mail-box .contents p a:hover {
  color: var(--accent-color);
}
#Contact a{
  text-decoration: none;
}
#Contact img {
  width: 50%;
  margin-top: 1.5rem;
}

/* responsive */
@media screen and (max-width: 768px) {
  .only-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .only-sp {
    display: none;
  }
}

/* bootstrap */
.justify-content-center {
  justify-content: center;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  position: relative;
  width: 100%;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media(max-width: 576px) {
  .col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
}

@media(min-width: 576px) {
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .pl-sm-3 {
    padding-left: 1rem !important;
  }
}