@media screen and (max-width: 768px) {
  p {
    margin: 0 0.1rem;
  }
  .font-S {
    font-size: calc(100vw / 24);
    margin-bottom: 2.1rem;
  }
  section h1 {
    font-size: 2rem;
  }

  #app {
    height: 0;
    width: 100vw;
  }

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 0;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.2);
    opacity: 0;
    transition: opacity 1s, width 0s 1s, height 0s 1s;
  }
  .active #overlay {
    width: 100%;
    opacity: 0.7;
    transition: opacity 1s, width 0s 0s, height 0s 0s;
  }

  #menu {
    background-color: rgba(206, 247, 224, 0.671);
    height: 60rem;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: width 1s;
    width: 0;
    z-index: 70;
  }
  .active #menu {
    width: 10rem;
  }

  #menu .inner {
    color: #e6abc3;
    padding-top: 3rem;
    width: 10rem;
  }
  #menu .inner li {
    margin: 2rem auto;
  }
  #menu .inner a {
    color: var(--accent-color);
  }
  #menu .inner img{
    width: 50%;
  }

  /*ハンバーガーメニューのボタン*/
  .btn,
  .btn span {
    box-sizing: border-box;
    display: inline-block;
    transition: all 0.4s;
  }

  .btn {
    position: fixed;
    z-index: 100;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 20px;
  }

  .btn span {
    background-color: var(--accent-color);
    height: 0.2rem;
    position: absolute;
    right: 1rem;
    width: 2rem;
  }

  .btn span:nth-of-type(1) {
    top: 1rem;
  }

  .btn span:nth-of-type(2) {
    top: 2rem;
  }

  .btn span:nth-of-type(3) {
    top: 3rem;
  }

  .active .btn span:nth-of-type(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
        -ms-transform: translateY(8px) rotate(-45deg);
            transform: translateY(8px) rotate(-45deg);
  }

  .active .btn span:nth-of-type(2) {
    opacity: 0;
  }

  .active .btn span:nth-of-type(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
        -ms-transform: translateY(-8px) rotate(45deg);
            transform: translateY(-8px) rotate(45deg);
  }

  nav {
    display: none;
  }

  .projects {
    width: 90%;
  }

  #Contact .mail-box {
    margin: 0 5%;
  }

  #Contact ul {
    display: flex;
    height: 5rem;
    justify-content: space-evenly;
    margin: 2rem 0 5rem -2.5rem;
  }
  #Contact li {
    margin: 1rem 0;
  }

  #Contact img {
    margin-top: 1rem;
  }

  footer img {
    width: 10vw;
  }
  footer ul {
    margin-left: -2.5rem;
  }
}
